.login .container {
  display: flex;
  gap: 2vh;
  padding: 5vh 5vw;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.311);
  box-shadow: 0px 5px 10px rgba(41, 64, 113, 0.543);
  border: 1.5px solid white;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), #1973bc79);
}

.login .logotype {
  position: absolute;
  top: 2vh;
  left: 5vw;
}

.login h2 {
  font-size: 24px;
  margin-bottom: 5vh;
}

.login .noAcc {
  margin-top: 5vh;
}

.login input {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 10px 20px;
}

.login button {
  padding: 10px 20px;
  border-radius: 30px;
  width: 100%;
  border: none;
  color: white;
  background-color: var(--dark-accent);
  font-size: 14px;
  cursor: pointer;
}

.login input::placeholder{
  font-size: 12px;
}

.login input:hover {
  box-shadow:  0 2px 5px rgb(119, 124, 169);
}

.login .link {
  color: var(--light-accent);
}

.login .link:hover {
  color: white;
}

.login span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login img {
  margin-right: 10px;
}

.login label {
  margin-left: 4vw;
    display: block;
  margin-bottom: 10px;
}
