.masterProfile {
  background-color: #fff;
  min-height: 100vh;
  padding-top: 20vh;
}

.masterProfile .container {
  padding: 4vh 6vw;
}

.back {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 20px;
  position: absolute;
  top: 2vh;
  left: 5vw;

}

.masterProfile .nav{
    justify-content: center;
    gap: 20vw;
    align-items: center;
    margin-left: 80vw;
}

/* ===== Profile ===== */

.profileCard {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.profileCard img {
  width: 260px;
  border-radius: 10px;
  object-fit: cover;
}

.profileCard .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profileCard .rating {
  color: #3a86ff;
}

.phone a {
  color: #3a86ff;
  text-decoration: none;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.contact {
  padding: 10px 25px;
  background-color: #3a86ff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* ===== Reviews ===== */

.reviews h3 {
  margin-bottom: 5px;
}

.reviews .count {
  font-size: 13px;
  opacity: 0.6;
}

.reviewCard {
  display: flex;
  gap: 20px;
  background-color: #f7f8fc;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.reviewCard .stars {
  color: #3a86ff;
  font-size: 18px;
}

.reviewCard span {
  font-weight: 500;
  font-size: 14px;
}

.masterProfile .link {
    color: black;
}