.homepage {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), #1973bc79),
    url("/mainBackground.svg");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.homepage h1 {
  width: 50vw;
  color: white;
  text-align: center;
}

.homepage .flex {
  align-items: center;
  gap: 2vw;
}

.homepage .mapSearch {
  background-color: var(--dark-accent);
}

.filter {
  gap: 10px;
  position: relative;
}

.filter button,
.homepage .mapSearch {
  padding: 8px 20px;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  border: 1.5px solid var(--white-back);
  font-size: 14px;
}

.filter button {
  background-color: var(--lighter-back);
  box-shadow: 1px 1px 5px rgb(30, 61, 134);
}

.filter .apply {
  background-color: transparent;
  opacity: 0.6;
  box-shadow: 0px 0px 0px black;
  border: 2px solid var(--white-back);
  /* color: black; */
}

.filter .apply:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.148);
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.221);
}

.filter button:hover, .mapSearch:hover {
    transform: translateY(-2px);
}


/* Выпадающее меню */
.filter .dropdown {
  position: absolute;
  top: 100%; /* прямо под кнопкой */
  left: 0;
  background-color: var(--white-back);
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  min-width: 170px;
  z-index: 10;
}

.filter .dropdown div {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  transition: background-color 0.2s;
}

.filter .dropdown div:hover {
  background-color: rgba(255, 255, 255, 0.379);
}

.filter .dropdown div.selected {
  /* font-weight: bold; */
  background-color: rgba(255, 255, 255, 0.845);
}

.filter input{
    outline: none;
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    width: 80px;
    margin: 0 5px;
}

.selectedFilter {
  position: absolute;
  top: 10vh;
  color: white;
  background-color: rgba(255, 255, 255, 0.315);
  padding: 20px 30px;
  width: 100%;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.635)

}